<!-- <div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          {{ title }}
        </a>
      </div>
    </div>
  </nav>
</div> -->

<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
